

<p>
  <%= @entry.created_at.strftime('%B %Y, %I:%M%p') %>
</p>
<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>


<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>
<p>
<%= link_to @entry.category.name, category_path(@entry.category) unless @entry.category.nil? %>
</p>

<%= link_to 'Back', entries_path %>
<%= link_to 'Edit', edit_entry_path %>
<%= link_to 'Delete', entry_path, :method => 'delete' %>
