<h1>Categories</h1>

<p>
  <%= link_to 'Add Category', new_category_path %>
</p>

<br />

<ul class="unstyled">
  <% @categories.each do |cat| %>
  <li>
    <%if cat.entries.count >= 1%>
      <%= link_to cat.name, category_path(cat) %>
    <%else%>
      <%= cat.name %>
    <%end%>
    <%= link_to 'Edit', edit_category_path(cat) %>
    <%= link_to 'Delete', category_path(cat), :method => 'delete' %>
  </li>
  <% end %>
</ul>
